@import "tailwindcss";

@theme {
  --color-lumeritz-green: #2d4636;
  --color-lumeritz-gold: #a89060;
  --color-lumeritz-sage: #c4c9b8;
  --color-lumeritz-cream: #f9f7f2;
  --spacing-75: 18.75rem;
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;
}

:root {
  --background: var(--color-lumeritz-cream);
  --foreground: var(--color-lumeritz-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-lumeritz-green);
    --foreground: var(--color-lumeritz-cream);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
